.landing-form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #F5D09D;
  margin: 2%;
  border-radius: .7em;
}

.url-input {
  height: 10vh;
  width: 25vw;
}

.alt-service-select, .alt-type-select, .alt-id-input {
 width: 100%;
 }

.alt-form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 10vh;
  width: 45vw;
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  height: 10vh;
  width: 25vw;
  border: 0px;
  background-color: #E4551F;
  border-radius: 1em;
}