.landing-form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f5d09d;
  margin: 2%;
  border-radius: 0.7em;
}

.url-input {
  height: 10vh;
  width: 25vw;
}

.alt-service-select,
.alt-type-select,
.alt-id-input {
  width: 100%;
}

.alt-form {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 45vw;
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  height: 10vh;
  width: 25vw;
  border: 0px;
  background-color: #e4551f;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:active {
  background-color: #c23c13;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
